<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Data & AI Quiz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
        <h2>Data & AI Quiz</h2>
        </div>
        <form method="POST" action="/quizsubmissionai">
        <p class="lead"></p>   
        1. Which are the two types of Supervised learning techniques?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="a" required> Classification and Clustering
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="b"> Classification and K-Means
        </label>
            </div>
          <div class="radio">  
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="c"> Regression and Partitioning
        </label>
            </div>
            <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="d"> Classification and Regression
        </label>
        </div>
        <br/> 
        2. Which of the following matrices can be used to show the results of model accuracy evaluation or the model’s ability to correctly predict or separate the classes? <br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="a" required> Confusion matrix
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="b"> Evaluation matrix
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="c"> Accuracy matrix
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="d"> Error matrix
        </label>
        </div>
        <br/>
        3. What gives Spark its speed advantage for complex applications?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="a" required> Spark can cover a wide range of workloads under one system
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="b"> Spark extends the MapReduce model
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="c"> Spark makes extensive use of in-memory computations
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="d"> Various libraries provide Spark with additional functionality
        </label>
        </div>
        <br/>
        4. Which of the following is false about Simple Linear Regression? <br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="a" required> It does not require tuning parameters
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="b"> It is used for finding outliers
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="c"> It is highly interpretable
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="d"> It is fast
        </label>
        </div>
        <br/>  
        5. What is the most probable use of Logistic Regression?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="a" required> Predict the binary outcome
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="b"> Easily build a Recommender system
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="c"> Face Detection
        </label>
        </div> 
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="d"> Video Analytics
        </label>
        </div> 
        <br/>
        <input type="submit" value="Submit Quiz" class="btn btn-primary btn-lg"/>
        </form>
      <br/><br/>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 IBM India Pvt Ltd</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
